In [138]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib.axis import Axis
import math
# from matplotlib import pyplot as plt
plt.style.use('ggplot')

In [164]:
p15 = pd.read_csv('password_crack_time_2015.csv')
p15

       password                                               time  year
0        123456                                  0.29 MILLISECONDS  2015
1      password                                  0.29 MILLISECONDS  2015
2      lizottes  5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...  2015
3     password1                                  0.29 MILLISECONDS  2015
4     123456789                                  0.29 MILLISECONDS  2015
...         ...                                                ...   ...
4250   hongngoc  5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...  2015
4251    anhtien    11 MINUTES 48 SECONDS 98 JIFFIES 4 MILLISECONDS  2015
4252   lanhuong  5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...  2015
4253   congacon  5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...  2015
4254   conmemay  5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...  2015

[4255 rows x 3 columns]

In [165]:
len(p15["password"].unique())

4255

6 YEARS 10 MONTHS 1 DAYS 4 HOURS 33 MINUTES 8 SECONDS 69 JIFFIES 5 MILLISECONDS

In [166]:
def second_converter(x):
    span = 2
    split_words = x.split(" ")
    array = []
    total_seconds = 0

    for i in range(0, len(split_words), span):
        x = "".join(split_words[i:i+span])
        array.append(x)

    for i in array:
        if "MILLENNIA" in i:
            location = i.index("MILLENNIA")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 3.15576e+10
        if "CENTURY" in i:
            location = i.index("CENTURY")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 3.15576e+9
        if "DECADE" in i:
            location = i.index("DECADE")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 3.15576e+8
        if "YEARS" in i:
            location = i.index("YEARS")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 3.15576e+7
        if "MONTHS" in i:
            location = i.index("MONTHS")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 2.6298e+6
        if "DAYS" in i:
            location = i.index("DAYS")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 86400
        if "HOURS" in i:
            location = i.index("HOURS")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 3600      
        if "MINUTES" in i:
            location = i.index("MINUTES")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num * 60  
        if ("SECONDS" in i) & ("MILLISECONDS" not in i):
            location = i.index("SECONDS")
            slicer = slice(0, location)
            sliced_str = i[slicer]
            num = int(sliced_str)
            total_seconds += num
    return total_seconds

p15["Time_to_crack_in_seconds"] = p15["time"].apply(lambda x: second_converter(x))

In [167]:
p15

,password,time,year,Time_to_crack_in_seconds
0,123456,0.29 MILLISECONDS,2015,0.0
1,password,0.29 MILLISECONDS,2015,0.0
2,lizottes,5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...,2015,18408.0
3,password1,0.29 MILLISECONDS,2015,0.0
4,123456789,0.29 MILLISECONDS,2015,0.0
...,...,...,...,...
4250,hongngoc,5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...,2015,18408.0
4251,anhtien,11 MINUTES 48 SECONDS 98 JIFFIES 4 MILLISECONDS,2015,708.0
4252,lanhuong,5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...,2015,18408.0
4253,congacon,5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...,2015,18408.0
4254,conmemay,5 HOURS 6 MINUTES 48 SECONDS 59 JIFFIES 9 MILL...,2015,18408.0

In [168]:
p15.to_csv("U_password_crack_time_2015.csv")